.*
!.gitignore
!.lein
!.live-packs
!.z*
!.bashrc
!.profile
.lein/self-installs
.lein/repl-history
.zprezto
.zcompcache
.zcompdump
.zhistory
Documents
Downloads
Dropbox
Music
Pictures
Ubuntu*
Videos
apps
examples.desktop
projects

