[user]
        name = John Stevenson
        email = john@jr0cket.co.uk
[core]
        excludesfile = /Users/jstevenson/.gitignore_global
        editor = emacsclient

[difftool "meld"]
        cmd = meld \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "meld"]
        cmd = meld \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true

[color]
        ui = auto
[alias]
        lol = log --pretty=oneline --abbrev-commit --graph
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
        lives = !git-log-live
        sitrep = status -sb
        sr = status -sb
        word = diff --word-diff
	unstage = reset HEAD
[credential]
        helper = cache --timeout=3600
[log]
        abbrevCommit = true
