.*
!.gitignore
!.lein
!.live-packs
!.z*
!.bashrc
!.profile
!.zprezto/runcoms
.lein/self-installs
.lein/repl-history
.zprezto
.zcompcache
.zcompdump
.zhistory
*.ogv
*.zwc
Calibre*
Documents
Downloads
Dropbox
Music
Pictures
Ubuntu*
Videos
apps
emacs-live-old-config
examples.desktop
projects
tmp



